@use "sass:list"
@use "sass:math"

@font-face
  font-family: 'Minecraft'
  src: url('/fonts/minecraft.woff') format('woff')
  font-weight: 400
  font-display: swap
  font-style: normal

html, body
  margin: 0
  padding: 0
  font-family: 'Minecraft', sans-serif
  background: #000000
  color: #ffffff


.bio
  display: flex
  overflow: hidden
  justify-content: center
  align-items: center
  min-height: 100vh

.title
  display: flex
  margin: 0 auto

.name
  font-size: 24px

.description
  font-size: 14px

.presence
  text-align: center

.socials
  text-align: center
  opacity: rgb(0,0,0,0.0)
  transition: transform 0.2s ease-in-out
  text-shadow: 0 0 20px #fff
  
  shadow: 0 0 20px #fff

.socials svg
  transition: transform 0.2s ease-in-out

.socials svg:hover
  transform: scale(1.2)
  

/* 3d animation from Kevin Powell!! thanks!!

.card
  border-radius: 20px
  background: rgba(0,0,0,0.0)
  width: 42rem
  height: 325px
  padding: 20px
  padding-bottom: 55px

  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX))

.name
  // font-size: 24px