@use "sass:list"
@use "sass:math"

@font-face
  font-family: 'Minecraft'
  src: url('/fonts/minecraft.woff') format('woff')
  font-weight: 400
  font-display: swap
  font-style: normal

.bio
  position: fixed
  display: flex
  overflow: hidden
  justify-content: center
  align-items: center
  min-height: 100vh

.bio-main
  border-radius: 20px
  background: #111111
  width: 37.5rem
  height: 121px
  padding: 20px
  padding-bottom: 55px
  box-shadow: 0 0 20px #ffffff40