---
import "../../public/sass/styles.sass?";

// top navbar
import Navbar from "../components/Navbar.astro"

// snowflakes
import Snowflakes from "../components/Snowflakes.astro";

// card
import Card from "../components/ui/Card.astro"
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>dylan / shark</title>
	
		<meta property="og:title" content="dylan / shark"/>
		<meta property="og:description" content="dylan's socials and about"/>
		<meta property="og:url" content="https://shxrk.dev"/>
		<meta property="og:type" content="website"/>
	</head>

	  <body class="bio">

		<Navbar />

		<Card />

		<Snowflakes />

	  </body>
</html>

