---
import DiscordLogo from "../logos/DiscordLogo.astro";
import GithubLogo from "../logos/GithubLogo.astro";
import EmailLogo from "../logos/EmailLogo.astro";
import SteamLogo from "../logos/SteamLogo.astro";
import SpotifyLogo from "../logos/SpotifyLogo.astro";
import MonkeyTypeLogo from "../logos/MonkeyTypeLogo.astro";
---

<div class="bio-main">
    <p class="name">dylan</p>
     <p class="desc">i'm dylan and i like hacking and coding.</p>

     <div class="bio-socials">
        <DiscordLogo link="https://discord.com/users/1204149467251613756" />
        <GithubLogo link="https://github.com/rearrangement" />
        <EmailLogo address="hi@shxrk.dev" /> <!-- You only need to type the email address here, don't worry about the mailto: part -->
        <SteamLogo link="https://steamcommunity.com/id/hawaiiandyl/" />
        <SpotifyLogo link="https://open.spotify.com/user/ip24s6xdgak5k5rjnuqc59qo4" />
        <MonkeyTypeLogo link="https://monkeytype.com/profile/dylnn" />
    </div>

</div>